.background {
  background-image: url("../assets/background-pic.jpg");
  background-color: black;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


.headings {
  color: white;
}

.grey-button {
  background-color: grey;
  color: white;
  border: none;
  opacity: 0.96;
}
.grey-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.card-headings {
  color: black;
}

.card-headings:hover {
  transform: translateY(-2px);
}
.display-6 {
  font-family: 'Abhaya Libre', serif;
  color: #006eff; /* Replace with your desired color */
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d400ff; /* Blue color */
  margin-bottom: 1rem;
}

/* Custom styles for the sections */
.section {
  background-color: #4e151577; /* Light gray color */
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}